DB_PASSWORD=
DB_URL=

AWS_REGION=us-east-1
AWS_S3_BUCKET=your-feed-media-bucket
AWS_ACCESS_KEY=your_iam_access_key
AWS_SECRET_KEY=your_iam_secret_key

REDIS_HOST=your-endpoint.upstash.io
REDIS_PORT=your-port
REDIS_PASSWORD=your-password

AWS_SQS_QUEUE_NAME=photosharing-app-post-created-events